{%- capture minify -%}

{%- comment -%}
{
  "pack_name": "Heading",
  "pack_author": "Huski Apps AioSections"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
  
<!-- Font-Awesome link --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css"/>

<!-- Animation CSS link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<style>

.has-features-inner-main-contain-vlccy{
     margin-top: {{ section.settings.margin_top07 }}{{ section.settings.margin_top_value }};
     margin-bottom: {{ section.settings.margin_bottom08 }}{{ section.settings.margin_bottom_value }};
     padding-top: {{ section.settings.padding_top05 }}{{ section.settings.paading_top_value }};
     padding-bottom: {{ section.settings.padding_bottom06 }}{{ section.settings.paading_bottom_value }};
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.has-infoinner-features-contain-boxwrepr{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.has-infoinner-features-contain-boxwrepr--desktop-left > * {
    align-self: flex-start;
    text-align: left;
}

.has-infoinner-features-contain-boxwrepr--desktop-center > * {
    align-self: center;
    text-align: center;
}

.has-infoinner-features-contain-boxwrepr--desktop-right > * {
    align-self: flex-end;
    text-align: right;
}

.has-features-heading-inner-vlccy .has-headinner-wreppr-vlccy{
     font-size: {{ section.settings.font_size_02 }}{{ section.settings.option_value_02 }};
     line-height: {{ section.settings.font_lineheight_02 }}{{ section.settings.option_value_abc_02 }};
     font-weight: {{ section.settings.font_weight_02 }};
     letter-spacing: {{ section.settings.font_letterspaceing_02 }}{{ section.settings.option_value_spaceing_02 }};
     text-transform: {{ section.settings.heading_transform_02 }};
     font-style: normal;
     color: #000000;
     margin: 0px 0px 0px 0px;
     padding-top: {{ section.settings.padding_top_041 }}{{ section.settings.top_value_041 }};
     padding-bottom: {{ section.settings.padding_bottom_042 }}{{ section.settings.top_value_042 }};
     padding-left: {{ section.settings.padding_left_043 }}{{ section.settings.top_value_043 }};
     padding-right: {{ section.settings.padding_right_044 }}{{ section.settings.top_value_044 }};
}
  
.has-features-text-inner-boxwrpr-vlcc .has-heading-text-wrepr-vlccy{
     font-size: {{ section.settings.textfont_size }}{{ section.settings.option_value_text }};
     line-height: {{ section.settings.text_lineheight }}{{ section.settings.option_value_abctext }};
     font-weight: {{ section.settings.font_weight_text }};
     letter-spacing: {{ section.settings.text_letterspaceing }}{{ section.settings.option_text_spaceing }};
     text-transform: {{ section.settings.text_transform }};
     font-style: normal;
     color: #000000;
     margin: 0px 0px 0px 0px;
     padding-top: {{ section.settings.padding_top_021 }}{{ section.settings.top_value_021 }};
     padding-bottom: {{ section.settings.padding_bottom_022 }}{{ section.settings.top_value_022 }};
     padding-left: {{ section.settings.padding_left_023 }}{{ section.settings.top_value_023 }};
     padding-right: {{ section.settings.padding_right_024 }}{{ section.settings.top_value_024 }};
}

.has-features-contain-inner-columnwrep-vlccs{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.has-feature-banner-boxinner-wrepr-vlccy{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0px 30px;
     margin-top: {{ section.settings.margin_top05 }}{{ section.settings.margin_top_value05 }};
     text-align: center;
}

.has-feature-banner-boxinner-wrepr-vlccy--desktop-left > * {
    align-self: flex-start;
    text-align: left;
}

.has-feature-banner-boxinner-wrepr-vlccy--desktop-center > * {
    align-self: center;
    text-align: center;
}

.has-feature-banner-boxinner-wrepr-vlccy--desktop-right > * {
    align-self: flex-end;
    text-align: right;
}

.has-features-iconbox-wreppr-vlccs{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background: #add8e6;
     text-align: center;
     border: none;
     line-height: 100px;
}

.has-features-iconbox-wreppr-vlccs i{
     color: #0000ff;
     font-size: 50px;
     text-align: center;
     line-height: 100px;
}

.has-features-titlebox-wreppr-vlccs .has-iconbox-title-inner-vlcc{
     font-size: {{ section.settings.font_size }}{{ section.settings.option_value }};
     line-height: {{ section.settings.font_lineheight }}{{ section.settings.option_value_abc }};
     font-weight: {{ section.settings.font_weight }};
     letter-spacing: {{ section.settings.font_letterspaceing }}{{ section.settings.option_value_spaceing }};
     text-transform: {{ section.settings.heading_transform }};
     font-style: normal;
     color: #000000;
     margin: 0px 0px 0px 0px; 
     padding-top: {{ section.settings.padding_top_011 }}{{ section.settings.top_value_011 }};
     padding-bottom: {{ section.settings.padding_bottom_012 }}{{ section.settings.top_value_012 }};
     padding-left: {{ section.settings.padding_left_013 }}{{ section.settings.top_value_013 }};
     padding-right: {{ section.settings.padding_right_014 }}{{ section.settings.top_value_014 }};
}

.has-inner-feature-textbox-wreppr-vlccs .has-inner-feature-wreppr-textone-vlccy{
     font-size: {{ section.settings.textfont_size_04 }}{{ section.settings.option_value_text_04 }};
     line-height: {{ section.settings.text_lineheight_04 }}{{ section.settings.option_value_abctext_04 }};
     font-weight: {{ section.settings.font_weight_text_04 }};
     letter-spacing: {{ section.settings.text_letterspaceing_04 }}{{ section.settings.option_text_spaceing_04 }};
     text-transform: {{ section.settings.text_transform_04 }};
     font-style: normal;
     color: #808080;
     margin: 0px 0px 0px 0px;
     padding-top: {{ section.settings.padding_top_071 }}{{ section.settings.top_value_071 }};
     padding-bottom: {{ section.settings.padding_bottom_072 }}{{ section.settings.top_value_072 }};
     padding-left: {{ section.settings.padding_left_073 }}{{ section.settings.top_value_073 }};
     padding-right: {{ section.settings.padding_right_074 }}{{ section.settings.top_value_074 }};
}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #HAS--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

@media only screen and (max-width: 4000px){

    {%- if section.settings.wide_custom_css != blank -%}
    {%- assign wide_custom_declarations = section.settings.wide_custom_css | split: '}' -%}
    {%- for declaration in wide_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #HAS--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
}

@media only screen and (max-width: 1200px){

    .has-feature-banner-boxinner-wrepr-vlccy{
          padding: 0px 20px;
    }

    {%- if section.settings.desktop_custom_css != blank -%}
         {%- assign desktop_custom_declarations = section.settings.desktop_custom_css | split: '}' -%}
           {%- for declaration in desktop_custom_declarations -%}
             {%- if declaration contains '{' -%}
                 #HAS--{{ section.id }} {{ declaration }} }
             {%- endif -%}
         {%- endfor -%}
      {%- endif -%}
  
}

@media only screen and (max-width: 991px){

    .has-feature-banner-boxinner-wrepr-vlccy{
          padding: 30px 20px 0px 20px;
    }

    .has-features-heading-inner-vlccy .has-headinner-wreppr-vlccy{
          font-size: 36px;
          line-height: 42px;
    }

    .has-features-text-inner-boxwrpr-vlcc .has-heading-text-wrepr-vlccy{
         font-size: 18px;
         line-height: 24px;
    }

    {%- if section.settings.tablet_custom_css != blank -%}
        {%- assign tablet_custom_declarations = section.settings.tablet_custom_css | split: '}' -%}
            {%- for declaration in tablet_custom_declarations -%}
            {%- if declaration contains '{' -%}
                #HAS--{{ section.id }} {{ declaration }} }
            {%- endif -%}
        {%- endfor -%}
     {%- endif -%}
    
}

@media only screen and (max-width: 767px){

     .has-features-text-inner-boxwrpr-vlcc .has-heading-text-wrepr-vlccy br{
          display: none;
     }

     .has-infoinner-features-contain-boxwrepr{
          padding: 0px 20px;
     }

     .has-features-inner-main-contain-vlccy{
          margin-top: {{ section.settings.mobile_margin_top07 }}{{ section.settings.marginmobil_top_value }};
          margin-bottom: {{ section.settings.mobile_margin_bottom08 }}{{ section.settings.marginmobil_bottom_value }};
          padding-top: {{ section.settings.mobile_padding_top05 }}{{ section.settings.mobile_top_value }};
          padding-bottom: {{ section.settings.mobile_padding_bottom06 }}{{ section.settings.mobile_bottom_value }};
     }

    .has-features-heading-inner-vlccy .has-headinner-wreppr-vlccy{
          font-size: 30px;
          line-height: 40px;
          padding-top: {{ section.settings.padding_top_045 }}{{ section.settings.top_value_045 }};
          padding-bottom: {{ section.settings.padding_bottom_046 }}{{ section.settings.top_value_046 }};
          padding-left: {{ section.settings.padding_left_047 }}{{ section.settings.top_value_047 }};
          padding-right: {{ section.settings.padding_right_048 }}{{ section.settings.top_value_048 }};
     }

     .has-features-text-inner-boxwrpr-vlcc .has-heading-text-wrepr-vlccy{
         font-size: 16px;
         line-height: 22px;
         padding-top: {{ section.settings.padding_top_025 }}{{ section.settings.top_value_025 }};
         padding-bottom: {{ section.settings.padding_bottom_026 }}{{ section.settings.top_value_026 }};
         padding-left: {{ section.settings.padding_left_027 }}{{ section.settings.top_value_027 }};
         padding-right: {{ section.settings.padding_right_028 }}{{ section.settings.top_value_028 }};
    }

    .has-features-titlebox-wreppr-vlccs .has-iconbox-title-inner-vlcc{
         padding-top: {{ section.settings.padding_top_015 }}{{ section.settings.top_value_015 }};
         padding-bottom: {{ section.settings.padding_bottom_016 }}{{ section.settings.top_value_016 }};
         padding-left: {{ section.settings.padding_left_017 }}{{ section.settings.top_value_017 }};
         padding-right: {{ section.settings.padding_right_018 }}{{ section.settings.top_value_018 }};
    }

    .has-inner-feature-textbox-wreppr-vlccs .has-inner-feature-wreppr-textone-vlccy{
         padding-top: {{ section.settings.padding_top_075 }}{{ section.settings.top_value_075 }};
         padding-bottom: {{ section.settings.padding_bottom_076 }}{{ section.settings.top_value_076 }};
         padding-left: {{ section.settings.padding_left_077 }}{{ section.settings.top_value_077 }};
         padding-right: {{ section.settings.padding_right_078 }}{{ section.settings.top_value_078 }};
    }

      {%- if section.settings.mobile_custom_css != blank -%}
         {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
            {%- for declaration in mobile_custom_declarations -%}
               {%- if declaration contains '{' -%}
                   #HAS--{{ section.id }} {{ declaration }} }
               {%- endif -%}
          {%- endfor -%}
      {%- endif -%}

}

@media only screen and (max-width: 600px){

     .has-custom-ourteam-slider-inner-wrepper{
          margin-top: {{ section.settings.mobile_margin_top03 }}px;
          margin-bottom: {{ section.settings.mobile_margin_bottom04 }}px;
          padding-top: {{ section.settings.mobile_padding_top01 }}px;
          padding-bottom: {{ section.settings.mobile_padding_bottom02 }}px;
     }

     .has-feature-banner-boxinner-wrepr-vlccy{
           margin-top: {{ section.settings.margin_top06 }}{{ section.settings.margin_top_value06 }};
     }
     
}
  
</style>

<section id="HAS--{{ section.id }}" style="{% if section.settings.add_bg_color %}background-color: {{ section.settings.color_title027 }};{% endif %}
  {% if section.settings.add_bg_image %}background-image: url('{{ section.settings.banner_b_img | img_url: 'master' }};{% endif %}
   {% if section.settings.add_bg_gradiant %}background: {{ section.settings.color_title001 }}{% endif %}" class="{{ section.id }} has-features-inner-main-contain-vlccy">
   
      <div class="has-container">
         <div class="has-row has-justify-content-center">
              <div class="has-infoinner-features-contain-boxwrepr has-infoinner-features-contain-boxwrepr--desktop-{{ section.settings.desktop_content_alignment }}">
                   {%- if section.settings.title != blank -%}
                         <div class="has-features-heading-inner-vlccy">
                               <h2 style="color: {{ section.settings.color_title021 }}" class="animate__animated animate__{{ section.settings.animation }} animate__delay-4s has-headinner-wreppr-vlccy">{{ section.settings.title }}</h2>
                         </div>
                   {% endif %}
                   {%- if section.settings.text != blank -%}
                         <div class="has-features-text-inner-boxwrpr-vlcc">
                              <p style="color: {{ section.settings.color_title022 }}" class="animate__animated animate__{{ section.settings.animation }} animate__delay-4s has-heading-text-wrepr-vlccy">{{ section.settings.text }}</p>
                        </div>
                   {% endif %}
              </div>
         </div>
         <div class="has-row has-justify-content-center">
           
            {% for block in section.blocks %}
              <div class="has-col-lg-4 has-col-md-6 has-col-12 has-features-contain-inner-columnwrep-vlccs">
                   <div class="has-feature-banner-boxinner-wrepr-vlccy has-feature-banner-boxinner-wrepr-vlccy--desktop-{{ block.settings.desktop_content_alignment }}">
                        {%- if block.settings.icon != blank -%}
                              <div style="background: {{ block.settings.color_title023 }}" class="animate__animated animate__{{ section.settings.animation }} animate__delay-4s has-features-iconbox-wreppr-vlccs">
                                   <i style="color: {{ block.settings.color_title024 }}" class="{{ block.settings.icon }}"></i>
                              </div>
                        {% endif %}
                        {%- if block.settings.heading != blank -%}
                              <div class="has-features-titlebox-wreppr-vlccs">
                                    <h4 style="color: {{ section.settings.color_title025 }}" class="animate__animated animate__{{ section.settings.animation }} animate__delay-4s has-iconbox-title-inner-vlcc">{{ block.settings.heading }}</h4>
                              </div>
                        {% endif %}
                        {%- if block.settings.text != blank -%}
                              <div class="has-inner-feature-textbox-wreppr-vlccs">
                                    <p style="color: {{ section.settings.color_title026 }}" class="animate__animated animate__{{ section.settings.animation }} animate__delay-4s has-inner-feature-wreppr-textone-vlccy">{{ block.settings.text }}</p>
                              </div>
                        {% endif %}
                   </div>
              </div>
             {% endfor %}
             
         </div>
    </div>
</section>

{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
  {
    "name": "Aio Features C",
    "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Best Practices"
         },          
         {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "It takes 50 milliseconds for someone to form an opinion about your website. First impressions matter."
         },
         {
             "type": "header",
             "content": "🎨 Layout Option ✏️"
         },
         {
             "type": "select",
             "id": "desktop_content_alignment",
             "options": [
                  {
                       "value": "left",
                       "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
                  },
                  {
                       "value": "center",
                       "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
                  },
                  {
                       "value": "right",
                       "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
                  }
              ],
              "default": "center",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
         },
         {
             "type": "header",
             "content": "🎨 Main Heading Design ✏️"
         },
         {
               "type": "color",
               "id": "color_title021",
               "label": "Title color",
               "default": "#000000"
         },
         {
              "type": "select",
              "id": "heading_transform_02",
              "label": "Heading Text Transform",
              "default": "capitalize",
              "options": [
                  {
                     "value": "uppercase",
                     "label": "Uppercase"
                  },
                  {
                     "value": "capitalize",
                     "label": "Capitalize"
                  },
                  {
                     "value": "lowercase",
                     "label": "Lowercase"
                  },
                  {
                     "value": "unset",
                     "label": "Unset"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_size_02",             
               "label": "Heading Font Size",
               "default": "45"
         },
         {
              "type": "select",
              "id": "option_value_02",
              "label": "Font Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_lineheight_02",
               "label": "Heading Line Height",
               "default": "50"
         },
         {
              "type": "select",
              "id": "option_value_abc_02",
              "label": "Line-Hieght Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_weight_02",
               "label": "Heading Font Weight",
               "default": "600"
         },
         {
               "type": "text",
               "id": "font_letterspaceing_02",
               "label": "Heading Letter Spacing",
               "default": "0"
         },
         {
              "type": "select",
              "id": "option_value_spaceing_02",
              "label": "Letter-Spacing Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_041",
               "label": "Heading Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_041",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_042",
               "label": "Heading Padding Bottom",
               "default": "10"
         },
         {
              "type": "select",
              "id": "top_value_042",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_043",
               "label": "Heading Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_043",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_044",
               "label": "Heading Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_044",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_045",
               "label": "Mobile Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_045",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_046",
               "label": "Mobile Padding Bottom",
               "default": "10"
         },
         {
              "type": "select",
              "id": "top_value_046",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_047",
               "label": "Mobile Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_047",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_048",
               "label": "Mobile Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_048",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
             "type": "header",
             "content": "🎨 Main Content Design ✏️"
         },
         {
               "type": "color",
               "id": "color_title022",
               "label": "Text color",
               "default": "#000000"
         },
         {
              "type": "select",
              "id": "text_transform",
              "label": "Content Text Transform",
              "default": "unset",
              "options": [
                  {
                     "value": "uppercase",
                     "label": "Uppercase"
                  },
                  {
                     "value": "capitalize",
                     "label": "Capitalize"
                  },
                  {
                     "value": "lowercase",
                     "label": "Lowercase"
                  },
                  {
                     "value": "unset",
                     "label": "Unset"
                  }
             ]
         },
         {
               "type": "text",
               "id": "textfont_size",             
               "label": "Text Font Size",
               "default": "20"
         },
         {
              "type": "select",
              "id": "option_value_text",
              "label": "Font Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "text_lineheight",
               "label": "Text Line Height",
               "default": "26"
         },
         {
              "type": "select",
              "id": "option_value_abctext",
              "label": "Line-Hieght Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_weight_text",
               "label": "Heading Font Weight",
               "default": "400"
         },
         {
               "type": "text",
               "id": "text_letterspaceing",
               "label": "Text Letter Spacing",
               "default": "0"
         },
         {
              "type": "select",
              "id": "option_text_spaceing",
              "label": "Letter-Spacing Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_021",
               "label": "Content Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_021",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_022",
               "label": "Content Padding Bottom",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_022",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_023",
               "label": "Content Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_023",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_024",
               "label": "Content Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_024",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_025",
               "label": "Mobile Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_025",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_026",
               "label": "Mobile Padding Bottom",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_026",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_027",
               "label": "Mobile Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_027",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_028",
               "label": "Mobile Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_028",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
             "type": "header",
             "content": "🎨 Icon Contain Design ✏️"
         },
         {
               "type": "text",
               "id": "margin_top05",
               "label": "Icon Contain Margin Top",
               "default": "50"
         },
         {
              "type": "select",
              "id": "margin_top_value05",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
         },
         {
               "type": "text",
               "id": "margin_top06",
               "label": "Mobile Icon Contain Margin Top",
               "default": "30"
         },
         {
              "type": "select",
              "id": "margin_top_value06",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
         },
         {
             "type": "header",
             "content": "🎨 Heading Design ✏️"
         },
         {
              "type": "color",
              "id": "color_title025",
              "label": "Heading color",
              "default": "#000000"
         },
         {
              "type": "select",
              "id": "heading_transform",
              "label": "Heading Text Transform",
              "default": "unset",
              "options": [
                  {
                     "value": "uppercase",
                     "label": "Uppercase"
                  },
                  {
                     "value": "capitalize",
                     "label": "Capitalize"
                  },
                  {
                     "value": "lowercase",
                     "label": "Lowercase"
                  },
                  {
                     "value": "unset",
                     "label": "Unset"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_size",             
               "label": "Heading Font Size",
               "default": "24"
         },
         {
              "type": "select",
              "id": "option_value",
              "label": "Font Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_lineheight",
               "label": "Heading Line Height",
               "default": "28"
         },
         {
              "type": "select",
              "id": "option_value_abc",
              "label": "Line-Hieght Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_weight",
               "label": "Heading Font Weight",
               "default": "600"
         },
         {
               "type": "text",
               "id": "font_letterspaceing",
               "label": "Heading Letter Spacing",
               "default": "0"
         },
         {
              "type": "select",
              "id": "option_value_spaceing",
              "label": "Letter-Spacing Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_011",
               "label": "Heading Padding Top",
               "default": "22"
         },
         {
              "type": "select",
              "id": "top_value_011",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_012",
               "label": "Heading Padding Bottom",
               "default": "18"
         },
         {
              "type": "select",
              "id": "top_value_012",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_013",
               "label": "Heading Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_013",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_014",
               "label": "Heading Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_014",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_015",
               "label": "Mobile Padding Top",
               "default": "22"
         },
         {
              "type": "select",
              "id": "top_value_015",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_016",
               "label": "Mobile Padding Bottom",
               "default": "18"
         },
         {
              "type": "select",
              "id": "top_value_016",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_017",
               "label": "Mobile Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_017",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_018",
               "label": "Mobile Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_018",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
             "type": "header",
             "content": "🎨 Text Design ✏️"
         },
         {
             "type": "color",
             "id": "color_title026",
             "label": "Text color",
             "default": "#808080"
         },
         {
              "type": "select",
              "id": "text_transform_04",
              "label": "Content Text Transform_04",
              "default": "unset",
              "options": [
                  {
                     "value": "uppercase",
                     "label": "Uppercase"
                  },
                  {
                     "value": "capitalize",
                     "label": "Capitalize"
                  },
                  {
                     "value": "lowercase",
                     "label": "Lowercase"
                  },
                  {
                     "value": "unset",
                     "label": "Unset"
                  }
             ]
         },
         {
               "type": "text",
               "id": "textfont_size_04",             
               "label": "Text Font Size",
               "default": "18"
         },
         {
              "type": "select",
              "id": "option_value_text_04",
              "label": "Font Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "text_lineheight_04",
               "label": "Text Line Height",
               "default": "25"
         },
         {
              "type": "select",
              "id": "option_value_abctext_04",
              "label": "Line-Height Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "font_weight_text_04",
               "label": "Heading Font Weight",
               "default": "400"
         },
         {
               "type": "text",
               "id": "text_letterspaceing_04",
               "label": "Text Letter Spacing",
               "default": "0"
         },
         {
              "type": "select",
              "id": "option_text_spaceing_04",
              "label": "Letter-Spacing Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_071",
               "label": "Content Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_071",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_072",
               "label": "Content Padding Bottom",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_072",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_073",
               "label": "Content Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_073",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_074",
               "label": "Content Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_074",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top_075",
               "label": "Mobile Padding Top",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_075",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom_076",
               "label": "Mobile Padding Bottom",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_076",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_left_077",
               "label": "Mobile Padding Left",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_077",
              "label": "Left Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_right_078",
               "label": "Mobile Padding Right",
               "default": "0"
         },
         {
              "type": "select",
              "id": "top_value_078",
              "label": "Right Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "%",
                     "label": "%"
                  }
             ]
         },
         {
             "type": "header",
             "content": "🎨 Section Design ✏️" 
         },
         {
             "type": "checkbox",
             "id": "add_bg_color",
             "label": "Add Section Background Color",
             "default": true
         },
         {
             "type": "color",
             "id": "color_title027",
             "label": "Section Background color",
             "default": "#ffffff"
         },
         {
             "type": "checkbox",
             "id": "add_bg_image",
             "label": "Add Section Background Image",
             "default": false
         },
         {
              "type": "image_picker",
              "id": "banner_b_img",
              "label": "Background Image"
         },
         {
             "type": "checkbox",
             "id": "add_bg_gradiant",
             "label": "Add Section Background Gradiant Color",
             "default": false
         },
         {
             "type": "color_background",
             "id": "color_title001",
             "label": "Section Background Gradiant color",
             "default": "linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%)"
         },
         {
              "type": "select",
              "id": "animation",
              "label": "Animation",
              "default": "none",
              "options": [
                  {
                     "value": "fadeIn",
                     "label": "Fade-in"
                  },
                  {
                     "value": "fadeInLeft",
                     "label": "Fade-in left"
                  },
                  {
                     "value": "fadeInRight",
                     "label": "Fade-in right"
                  },
                  {
                     "value": "fadeInUp",
                     "label": "Fade-in up"
                  },
                  {
                     "value": "fadeInDown",
                     "label": "Fade-in down"
                  },
                  {
                     "value": "fadeInTopLeft",
                     "label": "Fade-in-top-left"
                  },
                  {
                     "value": "fadeInTopRight",
                     "label": "Fade-in-top-right"
                  },
                  {
                     "value": "flipInX",
                     "label": "FlipInX"
                  },
                  {
                     "value": "zoomIn",
                     "label": "zoomIn"
                  },
                  {
                     "value": "none",
                     "label": "None"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_top05",
               "label": "Padding Top",
               "default": "30"
         },
         {
              "type": "select",
              "id": "paading_top_value",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "padding_bottom06",
               "label": "Padding Bottom",
               "default": "30"
         },
         {
              "type": "select",
              "id": "paading_bottom_value",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "margin_top07",
               "label": "Margin Top",
               "default": "50"
         },
         {
              "type": "select",
              "id": "margin_top_value",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
         },
         {
               "type": "text",
               "id": "margin_bottom08",
               "label": "Margin Bottom",
               "default": "50"
         },
         {
              "type": "select",
              "id": "margin_bottom_value",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
         },
         {
               "type": "text",
               "id": "mobile_padding_top05",
               "label": "Mobile Screen Padding Top",
               "default": "25"
         },
         {
              "type": "select",
              "id": "mobile_top_value",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "mobile_padding_bottom06",
               "label": "Mobile Screen Padding Bottom",
               "default": "25"
         },
         {
              "type": "select",
              "id": "mobile_bottom_value",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  }
             ]
         },
         {
               "type": "text",
               "id": "mobile_margin_top07",
               "label": "Mobile Screen Margin Top",
               "default": "40"
         },
         {
              "type": "select",
              "id": "marginmobil_top_value",
              "label": "Top Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
         },
         {
               "type": "text",
               "id": "mobile_margin_bottom08",
               "label": "Mobile Screen Margin Bottom",
               "default": "40"
         },
         {
              "type": "select",
              "id": "marginmobil_bottom_value",
              "label": "Bottom Value",
              "default": "px",
              "options": [
                  {
                     "value": "px",
                     "label": "px"
                  },
                  {
                     "value": "em",
                     "label": "em"
                  },
                  {
                     "value": "auto",
                     "label": "auto"
                  }
             ]
        },
        {
              "type": "header",
              "content": "🚨 Advanced"
         },
         {
              "type": "liquid",
              "id": "custom_css",
              "label": "CSS"
         },
         {
             "type": "liquid",
             "id": "wide_custom_css",
             "label": "WideScreen CSS",
             "info": "1200 + Pixels Wide"
         },
         {
             "type": "liquid",
             "id": "desktop_custom_css",
             "label": "Desktop Screen CSS",
             "info": "992 - 1199px Wide"
         },
         {
             "type": "liquid",
             "id": "tablet_custom_css",
             "label": "Tablet Screen CSS",
             "info": "768 - 991px Wide"
         },
         {
             "type": "liquid",
             "id": "mobile_custom_css",
             "label": "Mobile Screen CSS",
             "info": "Up to 767px Wide"
         }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Icon Block",
            "settings": [
                 {
                     "type": "text",
                     "id": "icon",
                     "label": "Icon",
                     "default": "fa-solid fa-database"
                 }, 
                 {
                     "type": "color",
                     "id": "color_title024",
                     "label": "Icon color",
                     "default": "#0000ff"
                 },
                 {
                     "type": "color",
                     "id": "color_title023",
                     "label": "Icon Background color",
                     "default": "#add8e6"
                 },
                 {
                     "type": "text",
                     "id": "heading",
                     "label": "Heading",
                     "default": "Consistent branding"
                 }, 
                 {
                     "type": "textarea",
                     "id": "text",
                     "label": "Text",
                     "default": "Someone who is familiar with your brand will expect your website to mirror your company’s look and style."
                 },
                 {
                     "type": "header",
                     "content": "🎨 Layout Option ✏️"
                 },
                 {
                     "type": "select",
                     "id": "desktop_content_alignment",
                     "options": [
                         {
                            "value": "left",
                            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
                         },
                         {
                            "value": "center",
                            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
                         },
                         {
                            "value": "right",
                            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
                         }
                    ],
                    "default": "center",
                    "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
                 }
            ]
        }
    ],
    "presets": [
       {
          "name": "Aio Features C 🎒"
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}