{{ 'image-with-button.css' | asset_url | stylesheet_tag }}

<img
  srcset="
    {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
    {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
    {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
    {%- if section.settings.image.width >= 967 -%}{{ section.settings.image | img_url: '967x' }} 967w,{%- endif -%}
    {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}
  "
  src="{{ section.settings.image | img_url }}"
  sizes="(min-width: 1100px) 1070px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
  alt="{{ section.settings.image.alt | escape }}"
  loading="lazy"
  width="{{ section.settings.image.width }}"
  height="{{ section.settings.image.height }}"
>
<img
  srcset="
    {%- if section.settings.image_mobile.width >= 165 -%}{{ section.settings.image_mobile | img_url: '165x' }} 165w,{%- endif -%}
    {%- if section.settings.image_mobile.width >= 360 -%}{{ section.settings.image_mobile | img_url: '360x' }} 360w,{%- endif -%}
    {%- if section.settings.image_mobile.width >= 535 -%}{{ section.settings.image_mobile | img_url: '535x' }} 535w,{%- endif -%}
    {%- if section.settings.image_mobile.width >= 720 -%}{{ section.settings.image_mobile | img_url: '720x' }} 720w,{%- endif -%}
    {%- if section.settings.image_mobile.width >= 967 -%}{{ section.settings.image_mobile | img_url: '967x' }} 967w,{%- endif -%}
    {%- if section.settings.image_mobile.width >= 1070 -%}{{ section.settings.image_mobile | img_url: '1070x' }} 1070w{%- endif -%}
  "
  src="{{ section.settings.image_mobile | img_url }}"
  sizes="(min-width: 1100px) 1070px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
  alt="{{ section.settings.image_mobile.alt | escape }}"
  loading="lazy"
  width="{{ section.settings.image_mobile.width }}"
  height="{{ section.settings.image_mobile.height }}"
  class="mobile"
>
<p class="image-with-button__subheading">{{ section.settings.subheading }}</p>
<h2 class="image-with-button__title">
  {{ section.settings.title }}
</h2>
<div {{ block.shopify_attributes }}>
  <form action="/checkout" method="post">
    <div class="product-form__buttons">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button
        type="submit"
        class="product-form__submit button button--primary-size button--primary"
      >
        BUY IT NOW
      </button>
    </div>
  </form>
</div>
{% schema %}
{
  "name": "Image with button",
  "tag": "section",
  "class": "image-with-button-section",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub heading"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Heading</p>",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    }
  ],
  "presets": [
    {
      "name": "Image with button"
    }
  ]
}
{% endschema %}
