{{ 'component-image-with-text-custom.css' | asset_url | stylesheet_tag }}

<div class="image-with-text-custom">
  <div class="image-with-text-custom__content">
    <h2 class="image-with-text-custom__heading">
      {% assign words = section.settings.heading | split: ' ' %}

      {% for word in words %}
        {% if forloop.index == 2 %}
          <i>{{ word }}</i>
        {% else %}
          {{ word }}
        {% endif %}
      {% endfor %}
    </h2>
    {% assign list_items = product.metafields.custom[section.settings.type_of_metafield] %}
    {% assign row_size = 6 %}
    <ul
      class="image-with-text-custom__list"
      style="--columns: {{ section.settings.column_quantity }}; --columns-width: {{ section.settings.column_width }}rem; --heading-margin-top: {{ section.settings.heading_margin_top }}rem"
    >
      {% if section.settings.use_metafield %}
        {% for item in list_items.value %}
          <li>
            {% if section.settings.type_of_metafield == 'what_s_includet' %}
              <span>
                {% if item.number <= 9 %}
                  0{{ item.number }}
                {% else %}
                  {{ item.number }}
                {% endif %}
              </span>
            {% else %}
              <span>
                {{ item.number }}
              </span>
            {% endif %}
            {{ item.label }}
          </li>
          {% if forloop.index >= 12 %}
            {% assign row_size = forloop.index | divided_by: 2.0 | ceil %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
    {% if row_size > 6 and section.settings.column_quantity == 2 %}
      <style>
        #shopify-section-{{section.id}} .image-with-text-custom__list {
          grid-template-rows: repeat({{ row_size }}, 6.9rem) !important;
        }
      </style>
    {% endif %}
  </div>
  <div class="image-with-text-custom__media">
    {%- if section.settings.image != blank -%}
      <img
        srcset="
          {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
          {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
          {%- if section.settings.image.width >= 967 -%}{{ section.settings.image | img_url: '967x' }} 967w,{%- endif -%}
          {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}
        "
        src="{{ section.settings.image | img_url }}"
        sizes="(min-width: 1100px) 1070px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
      >
      <img
        srcset="
          {%- if section.settings.image_mobile.width >= 165 -%}{{ section.settings.image_mobile | img_url: '165x' }} 165w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 360 -%}{{ section.settings.image_mobile | img_url: '360x' }} 360w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 535 -%}{{ section.settings.image_mobile | img_url: '535x' }} 535w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 720 -%}{{ section.settings.image_mobile | img_url: '720x' }} 720w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 967 -%}{{ section.settings.image_mobile | img_url: '967x' }} 967w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1070 -%}{{ section.settings.image_mobile | img_url: '1070x' }} 1070w{%- endif -%}
        "
        src="{{ section.settings.image_mobile | img_url }}"
        sizes="(min-width: 1100px) 1070px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image_mobile.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image_mobile.width }}"
        height="{{ section.settings.image_mobile.height }}"
        class="mobile"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Image with text custom",
  "class": "iwtc-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "range",
      "label": "Heading margin top",
      "id": "heading_margin_top",
      "min": 6,
      "max": 10,
      "step": 1,
      "default": 8,
      "unit": "rem"
    },
    {
      "type": "checkbox",
      "id": "use_metafield",
      "label": "Use metafield",
      "default": true
    },
    {
      "type": "select",
      "id": "type_of_metafield",
      "label": "Type of metafield",
      "options": [
        {
          "label": "What`s includet",
          "value": "what_s_includet"
        },
        {
          "label": "Influencer showit template is for",
          "value": "influencer_showit_template_is_for"
        }
      ],
      "default": "what_s_includet"
    },
    {
      "type": "header",
      "content": "Column settings"
    },
    {
      "type": "range",
      "label": "Column quantity",
      "id": "column_quantity",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "label": "Column width",
      "id": "column_width",
      "min": 40,
      "max": 60,
      "step": 0.5,
      "default": 42.5,
      "unit": "rem"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "Number"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text custom"
    }
  ]
}
{% endschema %}
