{{ 'template-search.css' | asset_url | stylesheet_tag }}

<div class="template-404 container  center">
  <div class="page-header">
    <div class="page-header__inner">
      <h1 class="main-page-title page-title title--page">
        {{ 'templates.404.subtext' | t }}. {{ 'templates.404.title' | t }}
      </h1>
    </div>
  </div>
  <div class="search-wrapper">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search__form rte">
      <p class="search__form-text">
        {{ 'templates.404.text' | t }}
      </p>
      <div class="search__form-inner">
        <div class="field">
          <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
          <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}
          </label>
          <input type="hidden" name="options[prefix]" value="last">
        </div>
        <button class="search__button button button--arrow button--primary-size button--secondary" aria-label="{{ 'general.search.search' | t }}">
          <span>
            {{ 'general.search.search' | t }}
          </span>
          {% render 'icon-button-arrow' %}
        </button>
      </div>
    </form>
  </div>
</div>
