{{ 'payment-methods.css' | asset_url | stylesheet_tag }}

<h2 class="payment-methods__title">
  {{ section.settings.title }}
</h2>
<div class="swiper payment-methods">
  <div class="swiper-wrapper payment-methods__wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide payment-methods__slide">
        <h4>
          {{ block.settings.slide_name }}
        </h4>
        <div class="payment-methods__description">
          {{ block.settings.slide_text }}
        </div>
        <div class="payment-methods__options">
          <div class="payment-methods__price">
            <p class="payment-methods__quantity">
              {{ block.settings.quantity_payments -}}
              {%- if block.settings.quantity_payments == 1 %}
                payment
              {% else %}
                payments
              {% endif %}
            </p>
            <div class="no-js-hidden price-wrapper" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price',
                product: product,
                use_variant: true,
                show_badges: true,
                price_class: 'price--product',
                split_price: true,
                quantity_payments: block.settings.quantity_payments
              -%}
              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__tax caption rte">
                  {%- if cart.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
          <div class="payment-methods__buybutton" {{ block.shopify_attributes }}>
            <form
              class="form"
            >
              <div class="product-form__buttons">
                <button
                  type="button"
                  name="add"
                  class="product-form__submit button button--primary-size button--primary"
                >
                  BUY NOW
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="{{ 'payment-methods.js' | asset_url }}" defer="defer"></script>
<script>
  (() => {
    const paymentBuybutton = document.querySelector('.payment-methods-section');
    paymentBuybutton.addEventListener('click', (evt) => {
      const element = evt.target;

      if (element.classList.contains('product-form__submit')) {
        document
          .querySelector('.product-section')
          .scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'center' });
      }
    });
  })();
</script>
{% schema %}
{
  "name": "Payment methods",
  "tag": "section",
  "class": "payment-methods-section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Heading</p>",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "text_slide",
      "name": "Text slide",
      "settings": [
        {
          "type": "richtext",
          "id": "slide_name",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "slide_text",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "quantity_payments",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Payments` quantity",
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Payment methods"
    }
  ]
}
{% endschema %}
