{{ 'section-testimonials-custom.css' | asset_url | stylesheet_tag }}

<div class="vertical-testimonials__heading">WHAT PEOPLE SAY</div>
<div class="swiper vertical-testimonials-swiper">
  <div class="swiper-wrapper vertical-testimonials__wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide vertical-testimonials__slide">
        <div class="vertical-testimonials__review">{{ block.settings.slide_text }}</div>
        <div class="vertical-testimonials__author">
          {% if condition %}
          {% endif %}
          <img
            srcset="
              {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if block.settings.image.width >= 967 -%}{{ block.settings.image | img_url: '967x' }} 967w,{%- endif -%}
              {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w{%- endif -%}
            "
            src="{{ block.settings.image | img_url: '967x' }}"
            height="{{ block.settings.image.height }}px"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
          >
          <span>
            {{- block.settings.slide_name -}}
            {%- if block.settings.slide_position != blank -%}
              , <span>{{ block.settings.slide_position }}</span>
            {%- endif -%}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="vertical-testimonials__pagination"></div>
</div>

<script src="{{ 'testimonials-custom.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Vertical testimonials",
  "tag": "section",
  "class": "vertical-testimonials",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "default": "subheading",
      "label": "t:sections.testimonials.settings.sub_title.label"
    }
  ],
  "blocks": [
    {
      "type": "testimonials_slide",
      "name": "t:sections.testimonials.blocks.testimonials_slide.name",
      "settings": [
        {
          "type": "richtext",
          "id": "slide_text",
          "default": "<p>Description feedback from your buyers</p>",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.image.label"
        },
        {
          "type": "text",
          "id": "slide_name",
          "default": "Name buyers",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_name.label",
          "info": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_name.info"
        },
        {
          "type": "text",
          "id": "slide_position",
          "default": "Position buyers",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_position.label",
          "info": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_name.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vertical testimonials",
      "blocks": [
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        }
      ]
    }
  ]
}
{% endschema %}
